<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walican | detail</title>
  <link rel="stylesheet" href="/stylesheets/share/init.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/util.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/header.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/account/detail.css" type="text/css">
</head>
<body>

  <%- include("../share/header.ejs") %>

  <div id="main">
  </div>

  <%- include("../share/menu_script.ejs") %>
</body>
</html>