<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Walican</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style-auth-status.css">
</head>
<body>
  <div class="header">
    <h1>Walican</h1>
    <p><b>認証ステータス</b></p>
    <div class="user-box">
      <div>
      <% children.forEach((user) => { %>
        <div class="user_column">
          <% if (user.auth) { %>
            <span class="status authed">承認済</span>
          <% } else { %>
            <span class="status yet_authed">未承認</span>
          <% } %>
          <div class="img_box">
            <img class="user_img" src="<%= user.img %>" alt="">
          </div>
          <span class="user_name"><%= user.name %></span>
          <div class="clear_div"></div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>