<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Walican</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style-dutch.css">
</head>
<body>
  <div class="header">
    <h1>Walican</h1>
    <p><b>認証ステータス</b></p>
    <div class="user-box">
      <div>
      <% users.forEach((user) => { %>
        <div class="user_column">
          <label>
            <% if (user.id == parent) { %>
              <input class="checkbox-input" type="checkbox" name="target_users" value="<%= user.id %>" onclick='return false;' checked>
            <% } else { %>
              <input class="checkbox-input" type="checkbox" name="target_users" value="<%= user.id %>">
            <% } %>
            <div class="checkbox-parts">
              <img class="user_img" src="<%= user.img %>" alt="">
              <span><%= user.name %></span>
            </div>
          </label>
          <div class="clear_div"></div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>