<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walican</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <h1>Walican</h1>
  <form action="/borrow/regist" method="POST">
    <div>
      <label>payment ID</label>
      <input type="text" name="payId" value="<%= payId %>" readonly>
    </div>
    <div>
      <label>金額</label>
      <input type="text" name="amount">
    </div>
    <div>
      <p>貸した人</p>
      <% users.forEach((user) => { %>
        <div class="user_column">
          <% if (user.id != parent) { %>
            <div class="radio_button">
              <input class="checkbox" type="radio" name="target_user" value="<%= user.id %>">
            </div>
            <div class="user_img_box">
              <img class="user_img" src="<%= user.img %>" alt="">
            </div>
            <div class="user_name">
              <p><%= user.name %></p>
            </div>
            <div class="clear_div"></div>
          <% } %>
        </div>
      <% }); %>
    </div>
    <input type="submit" value="送信">
  </form>
</body>
</html>