<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Walican</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style-complete.css">
</head>
<body>
  <div class="box_wrapper">
    <div class="logo_box">
      <div class="logo">
        <img src="/images/logo.jpeg">
      </div>
    </div>
    <div class="status">
      <% if (status=="success") { %>
        <p id="success">success!!</p>
      <% } else if (status=="failed") { %>
        <p id="failed">faild...</p>
      <% } else if (status=="alreadyAuth") { %>
        <p id="success">Auth finished!!</p>
      <% } else if (status=="yetRegist") { %>
        <p id="failed">yet Registed.</p>
      <% } %>
    </div>
    <div class="message">
      <p><%= message %></p>
    </div>
  </div>
</body>
</html>