<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Walican</title>
</head>
<body>
  <h1>Walican</h1>
  <form action="#" method="POST">
    <div>
      <label>payment ID</label>
      <input type="text" name="name" value="<%= payId %>" readonly>
    </div>
    <div>
      <label>割り勘する人</label>
      <% users.forEach((user) => { %>
        <% if (user.id == parent) { %>
          <input type="checkbox"" name="target_users" disabled="disabled" checked><%= user.name %>
        <% } else { %>
          <input type="checkbox"" name="target_users"><%= user.name %>
        <% } %>
      <% }); %>
    </div>
  </form>
</body>
</html>