<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Walican</title>
</head>
<body>
  <h1>Walican</h1>
  <form action="#" method="POST">
    <div>
      <label>payment ID</label>
      <input type="text" name="name" value="<%= payId %>" readonly>
    </div>
    <div>
      <% users.forEach((user) => { %>
        <p><%= user %></p>
      <% }); %>
    </div>
    <div>
      <label>割り勘する人</label>
      <input type="radio" name="users">ユーザー１
      <img src='' alt="">
    </div>
  </form>
</body>
</html>