<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Walican</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style-complete.css">
</head>
<body>
    <p><%= displayName %>さんですね？</p>
    <form action="/oauth/login" method="POST">
      <label for="username">ユーザー名</label>
      <input type="text" id="username" name="username" value="<%= userId %>">
      <input type="text" id="password" name="password" value="aaaa">
      <input type="submit" value="ログイン">
    </form>
</body>
</html>