/* ========================================
    main
========================================= */
#main {
  height: auto;
  width: calc(100% - 10vh);
  margin: 0 auto;
}

#back_button a {
  font-size: 16px;
  line-height: 40px;
  background: url(/images/back-icon.png) no-repeat left 5px;
  background-size: 30px 30px;
  display: block;
  padding-left: 35px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#back_button a:hover {
  opacity: 0.8;
}

#main_menu {
  text-align: center;
}

#main_title {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

#walican_table {
  margin-top: 20px;
}

#walican_table table {
  width: 100%;
}

#walican_table table tr td {
  border: 1px solid black;
  font-size: 18px;
  height: auto;
  padding: 11px 0;
  vertical-align: middle;
  line-height: 1;
}

.t-header {
  width: 200px;
  background-color: rgb(216, 242, 255);
}

.t-data {
  width: 70%;
}

/* ========================================
    users
========================================= */
#users {
  margin-top: 5vh;
}

#users span {
  font-size: 18px;
  font-weight: bold;
}

#users ul {
  height: auto;
  padding: 15px;
  overflow: scroll;
}

#users ul::-webkit-scrollbar {
  display:none;
}

#users ul li {
  list-style: none;
}

#users ul li img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid black;
  float: left;
  margin-top: 5px;
}

#users ul li span {
  font-size: 18px;
  line-height: 50px;
  padding-left: 10px;
  display: block;
  float: left;
}

#users ul li a {
  float: right;
  font-size: 18px;
  padding: 6px;
  margin-right: 20px;
  margin-top: 10px;
  display: block;
  border: 1px solid gray;
  border-radius: 20%;
}

.done {
  background-color: salmon;
}

.doing {
  background-color: rgb(58, 189, 193);
}

#cancel {
  width: 30vw;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid gray;
  color: white;
  background-color: red;
}

/* ========================================
    popup
========================================= */
#cancel_box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

#cancel_modal {
  position: fixed;
  width: 70vw;
  height: 30vh;
  background-color: #fff;
  margin: 35vh 15vw;
  border: solid 1px gray;
  border-radius: 10%;
}

#cancel_modal ul li {
  height: 15vh;
  text-align: center;
  list-style: none;
}

#cancel_modal ul li span {
  line-height: 15vh;
  font-size: 16px;
  font-weight: bold;
}

#modal-form {
  width: 50vw;
  display: block;
  margin: 0 auto;
}

.modal-button {
  border: 2px solid gray;
  border-radius: 20%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: auto;
  height: 60px;
  padding: 15px;
}

.modal-button:hover {
  cursor: pointer;
}

#left-button {
  float: left;
  background-color: rgb(0, 193, 40);
}

#right-button {
  float:right;
  padding: 0 15px;
  line-height: 60px;
  background-color: gray;
}