/* ========================================
    main
========================================= */
#main {
  height: 80vh;
  width: calc(100% - 10vh);
  padding: 5vh;
}

#main_menu {
  text-align: center;
}

#group_name {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 4px;
}

#history_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  background: url(/images/history.png) no-repeat left 5px;
  background-size: 30px 30px;
  display: inline-block;
  padding-left: 35px;
}

/* ========================================
    history
========================================= */
#history {
  height: calc(80vh - 80px);
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#history table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#table_header {
  line-height: 40px;
  font-weight: bold;
}

#table_header #owner,
#table_header #amount,
#table_header #time {
  font-size: 16px;
  border: 1px solid gray;
  background-color: rgb(216, 242, 255);
}

#table_data td {
  font-size: 16px;
  padding-top: 20px;
}

#owner, #amount {
  width: 25%;
}

#detail {
  width: 15%;
}

#time {
  font-size: 13px;
  width: 35%;
}

#detail a {
  background-color: rgb(133, 193, 78);
  border: 1px solid gray;
  font-size: 16px;
  color: #fff;
  width: calc(10% - 7px);
  border-radius: 10%;
  padding: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#detail a:hover {
  opacity: 0.8;
}