/* ========================================
    main
========================================= */
#main {
  height: 80vh;
  width: calc(100% - 10vh);
  padding: 5vh;
}

#user_info {
  text-align: center;
}

#main img {
  width: 50vw;
  height: 50vw;
  border-radius: 100%;
  border: 2px solid gray;
}

#name span {
  margin: 2vh 0 5vh 0;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

/* ========================================
    groups
========================================= */
#groups span {
  font-size: 18px;
  font-weight: bold;
}

#groups ul {
  margin-top: 20px;
  height: calc(73vh - 50vw - 94px);
  padding: 15px;
  border: 1px solid black;
  overflow: scroll;
}

#groups ul::-webkit-scrollbar {
  display:none;
}

#groups ul li {
  background: url(/images/list_tag.png) no-repeat left 12px;
  list-style: none;
}

#groups ul li a {
  font-size: 18px;
  line-height: 50px;
  padding-left: 30px;
  display: block;
}

#groups ul li a:hover {
  background-color: rgb(216, 242, 255);
  font-weight: bold;
  color: #434343;
}