body {
  margin: 0;
}

.box_wrapper {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 20%;
}

.status {
  text-align: center;
}

.status p {
  margin: 5px;
  font-weight: bold;
  font-size: x-large;
  color: #1cb319;
}

.message {
  text-align: center;
}

.message p {
  margin: 5px;
}

.logo_box {
  text-align: center;
}