h1 {
  color: red;
}

.user_name {
  overflow: hidden;
}

.user_img_box {
  float: left;
}

.user_img {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  padding: 5px;
}

.checkbox {
  float: left;
  position: relative;
  top: 4vw;
  display: none;
}

.checkbox:checked::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #d01137;
  border-right: 3px solid #d01137;
}


.clear_div {
  clear: both;
}