body {
  margin: 0;
  background-color: #fcfcfc;
}

.header {
  position: fixed;
  top: 0;
  height: 20%;
  width: 100%;
  margin: 8px;
}

.user-box {
  position: fixed;
  top: 25%;
  height: 60%;
  width: 100%;
  margin: 8px;
  overflow: scroll;
}

.user-box::-webkit-scrollbar {
  display: none;
}

h1 {
  color: red;
  margin: 5px;
  text-align: center;
}

.header p {
  text-align: center;
  margin: 0;
}

.user_column {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  border-bottom: solid 1px gray;
}

.user_img {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  padding: 5px;
  margin-right: 3%;
  position: relative;
  top: 5vw;
}

.radio-input{
  float: left;
  position: relative;
  display: none;
}

.radio-input + label{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
  top: -5vw;
  font-weight: bold;
  font-size: large;
}

.radio-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

.radio-input:checked{
  color: #1cb319;
}

.radio-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #11d054;
  border-radius: 50%;
}

.send_button {
  margin: 0;
  text-align: center;
  position: fixed;
  background-color: #000033;
  bottom: 0;
  height: 10%;
  width: 100%;
  z-index: 1;
}

.send_button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* text-indent:-999px; */
  z-index: 2;
}

.send_button p {
  color: #3366FF;
  font-weight: bold;
  font-size: large;
  text-align: center;
  vertical-align: middle;
}

.input_box {
  width: 100%;
  position: relative;
  left: 20%;
}

.input_box .label {
  float: left;
  width: 15%;
}

.input_box input {
  width: 30%;
  padding: 3px;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

.input_box select {
  width: 15%;
}