/* ========================================
    header
========================================= */
header {
  height: calc(10vh - 1px);
  width: 100%;
  background-color: #576aa0;
  border-bottom: 1px solid black;
}

#menu_button {
  width: 10vh;
  height: calc(10vh - 1px);
  float: left;
}

#menu_button button {
  background-color: #576aa0;
  border: 1px solid #fff;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  width: 8vh;
  height: 30px;
  border-radius: 10%;
  margin-top: calc((10vh - 30px) / 2);
  margin-left: 1vh;
}

#menu_button button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#logo_wrapper {
  width: calc(100% - 20vh);
  height: calc(10vh - 1px);
  float: left;
}

#header_logo {
  width: 185px;
  height: auto;
  margin: 0 auto;
  color: #fff;
}

header h1 {
  font-size: 32px;
  line-height: calc(10vh - 1px);
  background: url(/images/logo_50.png) no-repeat left 8px;
  padding-left: 50px;
}

#profile {
  width: 10vh;
  height: calc(10vh - 1px);
  float: right;
}

#profile img {
  width: 8vh;
  height: 8vh;
  margin: 0.5vh;
  border-radius: 100%;
  border: 1px solid #fff;
}

.hidden {
  display: none;
}

#global_menu {
  position: fixed;
  width: 40%;
  height: 100vh;
  background-color: rgba(205, 205, 205, 0.8);
}

#global_menu ul li {
  border-bottom: 1px solid #fff;
  padding-left: 5px;
}

#global_menu ul li:hover {
  opacity: 0.5;
}

#global_menu ul li a {
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  display: block;
}