<header>
  <div id="menu_button">
    <button><span>Menu</span></button>
  </div>

  <div id="logo_wrapper">
    <div id="header_logo">
      <h1>Walican</h1>
    </div>
  </div>

  <% if (Object.keys(_locals).indexOf('user') >= 0) { %>
    <div id="profile">
      <img src="<%= _locals.user.img %>" alt="">
    </div>
  <% } %>

  <div class="cf"></div>

  <% if (Object.keys(_locals).indexOf('user') >= 0) { %>
    <div id="global_menu" class="hidden">
      <ul>
        <li><a href="/account/user">ユーザーページ</a></li>
        <li><a href="#">認証依頼</a></li>
        <li><a href="/account/help">ヘルプ</a></li>
        <li><a href="/oauth/logout">ログアウト</a></li>
      </ul>
    </div>
  <% } else { %>
    <div id="global_menu" class="hidden">
      <ul>
        <li><a href="/">ログイン</a></li>
        <li><a href="/account/help">ヘルプ</a></li>
      </ul>
    </div>
  <% } %>
</header>