<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Walican</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style-complete.css">
</head>
<body>
  <a href="<%= url %>">LINEでログインする</a>
</body>
</html>