<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walican | group</title>
  <link rel="stylesheet" href="init.css">
  <link rel="stylesheet" href="util.css">
  <link rel="stylesheet" href="group-page.css">
</head>
<body>
  <header>
    <div id="menu_button">
      <button><span>Menu</span></button>
    </div>

    <div id="logo_wrapper">
      <div id="header_logo">
        <h1>Walican</h1>
      </div>
    </div>

    <div id="profile">
      <img src="./images/sample_img.png" alt="">
    </div>

    <div class="cf"></div>
  </header>

  <div id="main">
    <div id="main_menu">
      <span id="group_name">グループ名</span>
      <div id="menu_list">
        <ul>
          <li id="regist"><a href="#">登録</a></li>
          <li id="auth"><a href="#">認証</a></li>
          <div class="cf"></div>
          <li id="history"><a href="#">Walican履歴</a></li>
          <li id="summary"><a href="#">サマリー</a></li>
          <div class="cf"></div>
        </ul>
      </div>
    </div>

    <div id="users">
      <span>メンバー</span>
      <ul>
        <li><img src="./images/sample_img.png" alt=""><span>山田太郎</span></li>
        <div class="cf"></div>
        <li><img src="./images/sample_img.png" alt=""><span>鈴木一郎</span></li>
        <div class="cf"></div>
        <li><img src="./images/sample_img.png" alt=""><span>鈴木次郎</span></li>
        <div class="cf"></div>
        <li><img src="./images/sample_img.png" alt=""><span>山田太郎</span></li>
        <div class="cf"></div>
        <li><img src="./images/sample_img.png" alt=""><span>鈴木一郎</span></li>
        <div class="cf"></div>
        <li><img src="./images/sample_img.png" alt=""><span>鈴木次郎</span></li>
        <div class="cf"></div>
      </ul>
    </div>
  </div>
</body>
</html>