<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Walican | group</title>
  <link rel="stylesheet" href="/stylesheets/share/init.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/util.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/share/header.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/account/group-page.css" type="text/css">
</head>
<body>
  <%- include("../../share/header.ejs") %>

  <div id="main">
    <div id="main_menu">
      <span id="group_name">グループ名</span>
      <div id="menu_list">
        <ul>
          <li id="regist"><a href="#">登録</a></li>
          <li id="auth"><a href="#">認証</a></li>
          <div class="cf"></div>
          <li id="history"><a href="#">Walican履歴</a></li>
          <li id="summary"><a href="#">サマリー</a></li>
          <div class="cf"></div>
        </ul>
      </div>
    </div>

    <div id="users">
      <span>メンバー</span>
      <ul>
        <% members.forEach(member => { %>
          <li><img src="<%= member.img %>" alt=""><span><%= member.name %></span></li>
          <div class="cf"></div>
        <% }); %>
      </ul>
    </div>

    <%- include("../../share/menu_script.ejs") %>
  </div>
</body>
</html>